<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container">
    <div class="header">
        <h1 th:text="${title}">Default title</h1>
    </div>


    <p th:unless="${recipes} and ${recipes.size()}">no recipes :-(</p>
    <table class="table">
    <tr th:each="recipe : ${recipes}">
            <tr>
                <td><a th:href="@{'/recipe/single'}" th:text="${recipe.recipeName}"></a></td>
            </tr>
        <tr>
            <td><a th:href="@{'/recipe/edit'}">Edit</a></td>
        </tr>
    </tr>
    </table>
</div>
<div class="footer">
    <div class="bottomlink">
        <a href="/recipe/add">Add Recipe</a></div>
    <div class="bottomlink">
        <a href="/ingredient/add">Add Ingredients</a></div>
    <div class="bottomlink">
        <a href="/recipe/remove">Delete Recipe(s)</a></div>
</div>
</body>
</html>