<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<div class="container">
    <div class="header">
        <h1 th:text="${title}">Default title</h1>
    </div>
<table class="table">
    <tr th:each="recipe : ${recipes}">
    <tr class="col-25">
        <th>Title</th></tr>
    <tr class="col-75">
        <td th:text="$recipe.recipeName"></td>
    </tr>
    <tr class="col-25">
        <th>Course</th></tr>
    <tr class="col-75">
        <td th:text="$recipe.courseName"></td>
    </tr>
    <tr class="col-25">
        <th>Category</th></tr>
    <tr class="col-75">
        <td th:text="$recipe.category"></td>
    </tr>
    <tr class="col-25">
        <th>Serving Size</th></tr>
    <tr class="col-75">
        <td th:text="$recipe.servingSize"></td>
    </tr>
    <tr class="col-25">
        <th>Prep Time</th></tr>
    <tr class="col-75">
        <td th:text="$recipe.prepTime"></td>
    </tr>
    <tr class="col-25">
        <th>Cook Time</th></tr>
    <tr class="col-75">
        <td th:text="$recipe.cookTime"></td>
    </tr>
    <tr class="col-25">
        <th>Ingredients</th></tr>
    <tr class="col-75">
        <td th:text="$recipe.ingredient"></td>
    </tr>
    <tr class="col-25">
        <th>Direction</th></tr>
    <tr class="col-75">
        <td th:text="$recipe.direction"></td>
    </tr>
</table>

</div>
</body>
</html>